/* :root {} */

body {
    /* margin: 10% 10%; */
    background-color: #2c363f;
}

h1,h2,h3,h4,h5,h6,p,a {
    text-align: center;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #8dcecc;
}

p {
    color: #726adc;
}

a {
    color: #fbfef9
}

div {
    margin: 0% 10%;
}

#nav_div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;;
}

#nav_div a img{
    width:100%;
}

nav{
    /* padd */

    justify-self: center;
    align-self: center;

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    background-color: #23272a;
}

main{
    margin: 10% 10%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

#main_bg_image{
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main div{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
}