body {
    background-color: #2c363f;
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#main_bg_image{
    grid-column: 1/2;
    grid-row: 1/2;
}

main div{
    grid-column: 1/2;
    grid-row: 1/2;
}