/* :root {} */

body {
    /* margin: 10% 10%; */
    background-color: #2c363f;
}

h1,h2,h3,h4,h5,h6,p,a {
    text-align: center;
    text-decoration: none;
}

h1,h3,h4,h5,h6 {
    color: #8dcecc;
}

h2,p {
    color: #726adc;
}

a {
    color: #fbfef9;
    transition: 0.5s;
}

a:hover {
    transform: scale(1.1);
}

div {
    margin: 0% 10%;
}

#nav_div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;;
}

#nav_div a img{
    width:100%;
}

nav{
    padding: 20px 0px;

    justify-self: center;
    align-self: center;

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    background-color: #23272a;
}

nav a {
    padding: 5px;
}

nav a:hover {
    background-color: #17191a;
    
}

main{
    margin: 10% 10%;
    padding: 10% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main div{
    padding: 2% 2%;
    background-color: #17191aaf;
}